<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD FOOD</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>ADD FOOD</h1>
    <form method="post" action="/city/addFood">
        <div>
            <h3>CityID</h3>
            <input type="text" id="CityId" name="cityId" required>
        </div>
        <div>
            <h3>Food</h3>
            <input type="text" id="Food" name="food" required>
        </div>
        <div>
            <h3>Description</h3>
            <input type="text" id="Description" name="description" required>
        </div>
        <button type="submit">SUBMIT</button>
    </form>
    <script src="/script.js"></script>
</body>
</html>