<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD REVIEW</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container w-full h-screen bg-zinc-900 text-white p-10">
        <div class="box">
            <h2>ADD REVIEW</h2>
            <form method="post" action="/city/addReview">
                <div>
                    <h3>CityID</h3>
                    <input type="text" id="CityId" name="cityId" required>
                </div>
                <div>
                    <h3>Star Rating</h3>
                    <input type="text" id="Star" name="starRating" required>
                </div>
                <div>
                    <h3>Review</h3>
                    <input type="text" id="Review" name="review" required>
                </div>
                <div>
                    <h3>Reviewer</h3>
                    <input type="text" id="Reviewer" name="reviewer" required>
                </div>
                <button type="submit">SUBMIT</button>
            </form>
        </div>
    </div>
    <script src="/script.js"></script>
</body>
</html>