<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD REVIEW</title>
    <link rel="stylesheet" href="/style.css"> // Linking to CSS file
</head>
<body>
    <h1>ADD REVIEW</h1>
    <form method="post" action="/city/addReview">
        <div>
            <h3>CityID</h3>
            <input type="text" id="CityId" name="cityId" required>
        </div>
        <div>
            <h3>Star Rating</h3>
            <input type="text" id="Star" name="starRating" required>
        </div>
        <div>
            <h3>Review</h3>
            <input type="text" id="Review" name="review" required>
        </div>
        <div>
            <h3>Reviewer</h3>
            <input type="text" id="Reviewer" name="reviewer" required>
        </div>
        <button type="submit">SUBMIT</button> // Linking to JS file
    </form>
    <script src="/script.js"></script>
</body>
</html>