<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css"> <!-- Link to your CSS file -->
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="container w-full h-screen text-black p-10">
        <div class="box">
            <h2>Welcome ADMIN</h2>
            <p>Choose an option:</p>
            <div class="button-group">
                <a class="px-5 py-2 rounded-md bg-orange-500" href="/city/addcity" class="button">Add City</a>
                <a class="px-5 py-2 rounded-md bg-orange-500" href="/city/addFood" class="button">Add Food</a>
                <a class="px-5 py-2 rounded-md bg-orange-500" href="/city/addPlace" class="button">Add Place</a>
            </div>
        </div>
    </div>
</body>
</html>