<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css"> <!-- Link to your CSS file -->
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="container w-full h-screen text-black p-10">
        <div class="box">
            <h2>Welcome</h2>
            <p>Please choose an option:</p>
            <div class="button-group">
                <a class="px-5 py-5 rounded-md bg-green-500" href="/login" class="button">Login</a>
                <a class="px-5 py-5 rounded-md bg-red-500 " href="/signup" class="button">Sign-up</a>
            </div>
        </div>
    </div>
</body>
</html>