<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PANEL</title>
    <link rel="stylesheet" href="/style.css"> <!-- Link to your CSS file -->
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="container w-full h-screen bg-zinc-900 text-black p-10">
        <div class="box">
            <h2>PANEL</h2>
            <p>Please choose an option:</p>
            <div class="button-group">
                <a href="/" class="button">User</a>
                <a href="/city" class="button">Admin</a>
            </div>
        </div>
    </div>
</body>
</html>