<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD FOOD</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container w-full h-screen bg-zinc-900 text-white p-10">
        <div class="box">
            <h2>ADD FOOD</h2>
            <form method="post" action="/city/addFood">
                <div>
                    <h3>City Name</h3>
                    <!-- <input type="text" id="City_name" name="city_name" required> -->
                    <select id="City Name" name="city_name" required>
                        <% if (cities && cities.length > 0) { %>
                            <% cities.forEach(city => { %>
                                <option value="<%= city.city_name %>"><%= city.city_name %></option>
                            <% }); %>
                        <% } else { %>
                            <option disabled>No cities available</option>
                        <% } %>
                    </select>
                </div>
                <div>
                    <h3>Food</h3>
                    <input type="text" id="Food" name="food" required>
                </div>
                <div>
                    <h3>Description</h3>
                    <input type="text" id="Description" name="description" required>
                </div>
                <button type="submit">SUBMIT</button>
            </form>
        </div>
    </div>
    <script src="/script.js"></script>
</body>
</html>